/* <div class="spacer" style="height: 101px;"></div> */

/* *{
  margin: 0;
  padding: 0;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body{
  
  height:100vh;
  width: 100vw;
  /* max-width: 1170px;  */
  margin:0;
  display:grid;
  grid-template-areas: "header" "main" "content" "footer";
  grid-template-rows: 80px 462px 1fr auto;  
  /* main area 660px, updated at 23/02/2022 */
}

header{
  grid-area: header;  
  position:fixed;    
  padding: 0;  
  font-family: "Open Sans";
  font-size: 16px;
  /* color:#4f4f4e;  */
  margin-left: 0;
  z-index: 3;
  }

main{
grid-area: main;
}

content{
grid-area: content;
/* display: flex;
flex-wrap: wrap; */
}

footer{
grid-area: footer;
background-color: #c0c0c0;
display: flex;
font-family: "Open Sans";
font-size: 12px;

}

.imgLogo{
  max-height: 70px; padding: 0; margin-left: 0;
}

.headerA{
  position: absolute;
  margin-left: 0;  
  /* z-index:0; */
}

.menu{
  margin-left: 30px;  
  /* margin-left alterada em 21/02/2022, estava como comentário */
  position: fixed;
  background-color: #FFFFFF;
  width: 100%;
  height: 70px;  
  vertical-align: middle;
  /* background-color: #000000; */
    /* alterado de FFF para transparent em 24/02 15h23  */
  font-family: "Open Sans";
  z-index: -1;
  }

  .menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    color:#000000;
  }

  .menu a:hover{
    background-color: transparent;
    color: #f5a623;    

  }

  .menu ul{
    list-style: none;
    position: relative;
    margin-left: 20px;
    /* margin-left 150, alterada em 21/02 */
  }

  .menu ul li{
    /* position: relative; */
    width: 150px;
    /* margin-left 150, alterada em 21/02 */
    margin-left: 0px;
    margin-top: -5px ;
    float: left;
    font-size: 1.2rem;

  }

  .menu ul li:hover ul{
    visibility: visible;
    margin-left: 0;
    
  }
  

  .menu ul ul{
    position: absolute;
    visibility: hidden;
  }

 

  .menu ul ul li{
    float: none;
    border-bottom: solid 1px #ffffff;
    font-size: 1rem;

  }

  .menu ul ul li a{
    background-color:#eeeeee; /*069 AZUL*/
    color: #555555;
  }

  .menu ul ul li a:hover{
    background-color: #000000;
    color: #FFFFFF;

  }


  label[for="bt_menu"]{
    padding: 5px;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height:50px;
  }

  #bt_menu{
    display:none;
  }

  label[for="bt_menu"]{
    display:none;
  }

/* MMMMMMMMMMMM   MEDIA RESPONSIVE SCREEN MMMMMMMMMMMMMMMMMMMMMMMMMMMMMM*/

  @media(max-width:800px){
    label[for="bt_menu"]{
      display:block;
      margin-top: 100px;
      margin-left: 15px;
    }

    .mainContainerBackgroundImage,.mainContainer, .mainElements, .mainH2 {z-index: -1;}
    /* .mainH2{z-index: -1;
      visibility: hidden;
      padding-top: 70px;
      color:#999999; font-weight:lighter;} */
   
    .menu{
      margin-top: 5px;
      margin-left: -120%;
      transition: all .4s;
      background-color: transparent;      
    }

    #bt_menu:checked ~ .menu{
      margin-left: 0px;
      margin-top: -77px; /*-77*/
      /* text-align: left; */
      width:100vw;
      /* height: auto; */
      z-index: 1;
          }   
 

    .menu a{
      
      padding: 15px;
      display: block;
      text-decoration: none;
      text-align: center;
      background-color: #000000;
      color:#FFFFFF;
      
    }
   
    .menu a:hover{
      background-color: #FFFFFF;
      color: #f5a623;}

    
    .menu ul li{
      width: 100%;
      float: none;
      /* height: fit-content; */
      
    }
    .menu ul ul{
      position: static;
      overflow: hidden;
      max-height: 0;
      transition: all .4s;
      
    }
.menu ul li:hover ul{
  height: auto;
  max-height: 350px;
  
}
.menu ul ul li a:hover{
  width: 100%;
  float: none;
  background-color: #555555;
  color: #2aadfa;
}


}


.mainContainer{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-wrap: wrap;  
  position: relative;
  z-index: 0;
  
}

.mainBanner{
  position: relative;
  z-index: 1;
  padding: 5vw;
  margin: auto;
  min-width: 65%;
  min-height: 50px;
  overflow: hidden;
  opacity: 1px;
  vertical-align: middle;
  text-align: center;
  color: #FFFFFF;
  transition: all 500ms ease;
  z-index: 0; 
  /* ANTES ERA Z1 */
}

.mainElements{
  text-align: center;
  visibility: visible;
  z-index: 2;    
}

#textoMain{
  font-size: medium;
}

.mainH2{
  text-align: center;
  visibility: visible;
  -webkit-transform: translateY(0) scale(1);
  opacity: 1;
  transform: translateY(0) scale(1);
  opacity: 1;
  -webkit-transition: -webkit-transform 0.7s ease-in 0.8s,
                      opacity 0.7s ease-in 0.8s;
  transition: transform 0.7s ease-in 0.8s,
                      opacity 0.7s ease-in 0.8s;
  font-family: "Montserrat" !important;
  font-size: 72px;
  margin: 0 0 5px;
  
}

.mainButton{
  background-color: #f5a623;
  color:#FFFFFF;
  padding: 10px 25px;
  font-family: "Montserrat" !important;
  font-size: 14px;
  
}


  /* XXXXXXXXXX FOOTER XXXXXXXXX */

   
  .footerContainer{
    width: 100vw;
    /* height: 120; */
    /* max-width: 1170px; */
    margin: 0 auto;    
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    flex-direction: row;
    align-items:center;
    /* gap: 0.5rem; */
  }
.footerContentDivCol{
  width: auto;
  padding: 0 20px;
  margin-top: 0.5rem;
  }

  #footerUl{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;  
    gap:0 2rem; /*espaço entre os itens*/
    }   

  