.page{
border: 2px solid;
min-height: 100vh;
font-family: 'Inter';
display: flex;
}

aside{
  background: lightgreen;
  flex: 1;
}

main{
  background: lightblue;
  flex: 2;
  display: flex;
  flex-direction: column;
}

main section:nth-child(1){
  background: lightgoldenrodyellow;
  flex: 2 0 30px;
}

main section:nth-child(2){
  background: lightcoral;
  flex: 0 120px; /*Flex-basis (px) se sobrepões sobre o flex (porções 1/3, 2/3 3/3 */
}

main section:nth-child(3){
  background: lightpink;
  flex: 1;
}
