* {
  margin: 0px;
  padding: 0px;
}

.galery {
  margin-top: 0;
  /* max-width: 1920px; */
  height: 462px;
  overflow: hidden;
  position: relative;
  z-index: -2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.foto {
  position: absolute;
  animation: animacao infinite 20s;
  opacity: 0;
}

@keyframes animacao {
  25% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }

  50% {
    opacity: 0;
  }
}

.foto:nth-child(1) {
  animation-delay: 0s;
}

.foto:nth-child(2) {
  animation-delay: 3s;
}

.foto:nth-child(3) {
  animation-delay: 9s;
}

.foto:nth-child(4) {
  animation-delay: 15s;
}
